<%- include('partials/header') %>
<section class="filter">
  <h3 class="filter-title">Trier par :</h3>
  <div class="filter-content">
    <% for (const property in filterProperty){ %>
      <a <% if(filter === property){ %> 
        class="active" 
        <%  } %>
        href="?filter=<%= property %>">
        <%= property
          .split(" ")
          .map(e => e.charAt(0).toUpperCase() + e.slice(1)) %>
      </a>
    <% } %> 
      </div>
</section>
  <main class="container">
    <% animes.forEach(anime => { %>
      <article class="anime-card">
        <img src="<%= anime.image_src %>" alt="<%= anime.title %> picture">
        <div class="anime-card-content">
          <h2 class="anime-card-content-title"><%= anime.title %></h2>
          <h3 class="anime-card-content-subtitle"><%= anime.original_title %></h3>
          <div class="anime-card-content-footer">
            <div class="anime-card-content-durationTime">Durée : <%= anime.duration %></div>
            <div class="anime-card-content-releaseDate">Sortie en <%= anime.release_date %></div>
          </div>

          <span class="anime-card-content-id disable"><%= anime.id %></span>
        </div>
      </article>
    <% }) %>    
  </main>
  <script src="js/anime.js"></script>
  <%- include('partials/footer') %> 