<%- include('partials/header') %>
<div class="filter">
  <h3 class="filter-title">Trier par :</h3>
  <ul class="filter-content">
    <% for (const property in animes[0]){ %>
      <li><a <% if(filter === property){ %> class="active" <%  } %> 
      href="?filter=<%= property %>"><%= property.split("_")
        .map(e => e.charAt(0).toUpperCase() + e.slice(1))
        .join(' ') %></a></li>      
    <% } %>
  </ul>
</div>
  <main class="container">
    <% animes.forEach(anime => { %>
      <article class="anime-card">
        <img src="<%= anime.image_src %>" alt="<%= anime.title %> picture">
        <div class="anime-card-content">
          <h3 class="anime-card-content-title"><%= anime.title %></h3>
          <span class="anime-card-content-id disable"><%= anime.id %></span>
        </div>
      </article>
    <% }) %>    
  </main>
  <script src="js/anime.js"></script>
  <%- include('partials/footer') %> 